.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@font-face {
	font-family: "zeldadx";
	src: url("../font/zeldadxt.ttf");
}

body {
	background-color: rgba(103,146,63,1);
	font-family: "zeldadx";
}

.title, .subtitle {
	text-align: center;
}
.title {
	font-size: 50px;
	padding-top: 15px;
}

.subtitle {
	font-size: 25px;
}

.gameimage {
	background: url("../img/gameboard.png") no-repeat center center;
	background-size: fixed;
	height: 500px;
}

.gameboard {
	margin: 0 auto;
	width: 462px;
	position: relative;
	top: 124px;
	left: 103px;
}

.box {
	width: 64px;
	height: 64px;
	float: left;
	margin: 10px 10px;
}

.box:hover {
	background: rgba(50, 50, 50,.3);
	background: url("../img/link.png") no-repeat;
}

.bottom {
	background: rgba(241,220,171,1);
	text-align: center;
	width: 612px;
	height: 100px;
	margin: 0 auto;
}

#p1 {
	margin-right: 200px;
}

/*
Gameboard initial look
*/
.boxInit {
	background: url("../img/grass.png") no-repeat;
}

/* Player 1 Click */
.p1Click {
	background: url('../img/grass-empty-gem.png') no-repeat;
}

/* Player 2 Click */
.p2Click {
	background: url('../img/grass-empty-heart.png') no-repeat;
}

#p1:hover:before {

}

/* Media Queries */

/*iPhone*/
@media screen and (max-width: 480px) {

}

/*Tablet*/
@media screen and (max-width: 768px) {

}