@font-face {
	font-family: "zeldadx";
	src: url("css/zeldadxt.ttf");
}
body {
	background-color: rgba(103,146,63,1);
	font-family: "zeldadx";
}
h1 {
	text-align: center;
}
.board {
	margin: 0 auto;
	width: 234px;
}

.box {
	width: 70px;
	height: 70px;
	border: 2px dotted black;
	margin: 2px;
	float: left;

}
.box:hover {
	background-color: lightgreen;
}

.cf {
   clear: both;
}